<!DOCTYPE html>
<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <form method="post" action="../Controller/loginCheck.php">
        <h2>Login</h2>
        <div style="margin-bottom: 10px;">
            Username: <br>
            <input type="text" id="username" name="username" value="" /> <br>
        </div>
        <div style="margin-bottom: 10px;">
            Password: <br>
            <input type="password" name="password" value="" /> <br><br>
        </div>
        <input type="submit" name="submit" value="Submit" />
    </form>

    <p>Don't have an account? <a href="signup.html">Sign Up</a></p>
</body>
</html>
