<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee Registration</title>
</head>
<body>
    <h1>Employee Registration</h1>
    <form method="post" action="../controller/employeeRegistration.php">
        <label for="empname">Employee Name:</label>
        <input type="text" id="empname" name="empname" />
        <br><br>
        
        <label for="contact_no">Contact Number:</label>
        <input type="text" id="contact_no" name="contact_no" />
        <br><br>
        
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" />
        <br><br>
        
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" />
        <br><br>
        
        <input type="submit" name="submit" value="Register" />
    </form>
</body>
</html>
