<html>
<head>
    <title>Login Page</title>
</head>
<body>
    <h1>Login</h1>
    <form method="post" action="../controller/loginCheck.php">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" value="" /> <br><br>

        <label for="password">Password:</label>
        <input type="password" id="password" name="password" value="" /> <br><br>

        <input type="submit" name="submit" value="Submit" />
        <button type="button" onclick="window.location.href='../view/employeeRegistration.html'">Sign In</button>
    </form>
</body>
</html>
